<h1>Methods#index</h1>
<p>Find me in app/views/methods/index.html.erb</p>
<%= link_to '< Back', recipes_path, :style=>"color: rgba(0,0,0,1);"%>
<% @recipe_methods.each do |steps| %>
  <h4><%= steps.instructions %></h4>
<% end %>
