<div class="container p-3">
  <h1 class='title' style='font-weight: 700;'>Recipes</h1>
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe), class:'text-decoration-none' do %>
      <h4><%= recipe.name %></h4>
      <p style='color: #476072;'><%= recipe.meal_time %></p>
    <% end %>
  <% end %>
</div>
