<%# <% if user_signed_in? %>
  <%# <%= link_to 'User (edit)',  edit_user_registration_path %>
  <%# <%= link_to 'User (show)', profile_path(current_user) %>
<%# <% end %>


<div class="main-container">
  <div class="container-body" style="justify-content: center;">
    <div class="card p-3 pb-2 mb-3" style="">
      <h2>Save money and time!</h2>
        <p>Having your entire week’s meals planned out is the perfect way to not only save time and money, but to help you reach your ultimate health goals. As great as that sounds, it’s not always easy to stay on track! That’s why SHOKUJI may be just what you need to keep you on track.</p>
    </div>
  </div>
</div>
